@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
        0deg, 
        rgb(217, 241, 149) 23.8%,
        rgb(253, 210, 109) 92%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player-container {
    background-color: rgb(243, 141, 192);
    border-radius: 35px;
    box-shadow: 0 20px 20px 0 rgba(253, 210, 109, 0.8);
    display: flex;
    padding: 50px 60px;
    margin: 150px 0;
    position: relative;
    z-index: 10;
}
.cover-container {
    position: relative;
    width: 130px;
}
.cover-container::after {
    content: "";
    background-color: #FFF;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.cover-container img {
    width: inherit;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}
.player-container.play .cover-container img {
    animation-play-state: running;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.action-button {
    background-color: rgb(243, 141, 192);
    border: 0;
    color: rgb(253, 210, 109);
    font-size: 15px;
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px 10px;
}
.action-button:focus {
    outline: 0;
}
.action-button-big {
    color:#ffc107;
    font-size: 25px;
}
.player-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
    left: 30px;
    width: calc(100% - 60px);
    opacity: 0;
    padding: 30px 10px 30px 180px;
    transform: translateY(0%);
    transition: transform 0.5s "ease-in" opacity 0.5s "ease-in";
}
.player-info h4 {
    margin: 0;
}
.player-container.play .player-info {
    opacity: 1;
    transform: translateY(-100%);
}
.progress-container {
    background: #FFF;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    height: 3px;
    width: 100%;
}
.progress {
    background-color: lightcoral;
    border-radius: 10px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}